@charset "utf-8";

*{

   text-align: left;

    padding-bottom: 0px;

    margin: 0px;

    padding-left: 0px;

    padding-right: 0px;

    font-family: "微软雅黑", Arial, Helvetica, sans-serif;

    padding-top: 0px;

}

#box_sub_contact .FrontSpecifies_show01-d1_c1{

   text-align: left;

    line-height: 24px;

    margin: 0px auto;

    width: auto;

    height: auto;

    color: #55908a;

    font-size: 13px;

}

#box_sub_contact .FrontSpecifies_show01-d1_c1 P{

   text-align: left;

    line-height: 24px;

    height: 36px;

    color: #55908a;

    font-size: 13px;

}

#box_sub_contact A:link{

   color: #55908a;

    text-decoration: none;

}

#box_sub_contact A:visited{

   color: #55908a;

    text-decoration: none;

}

#box_sub_contact A:hover{

   color: #78a7a4;

    text-decoration: none;

}

#box_sub_contact A:active{

   color: #78a7a4;

    text-decoration: none;

}

#box_sub_contact_title .FrontSpecifies_show01-d1_c1{

   text-align: center;

    line-height: 53px;

    margin: 0px auto;

    width: auto;

    height: auto;

    color: #ffffff;

    font-size: 18px;

    overflow: hidden;

    font-weight: normal;

}

#box_sub_contact_title .FrontSpecifies_show01-d1_c1 P{

   text-align: center;

    line-height: 53px;

    color: #ffffff;

    font-size: 18px;

    font-weight: normal;

}

#box_sub_left_title .FrontSpecifies_show01-d1_c1{

   text-align: center;

    line-height: 64px;

    margin: 0px auto;

    width: auto;

    height: auto;

    color: #ffffff;

    font-size: 18px;

    overflow: hidden;

    font-weight: normal;

}

#box_sub_left_title .FrontSpecifies_show01-d1_c1 P{

   text-align: center;

    line-height: 64px;

    color: #ffffff;

    font-size: 18px;

    font-weight: normal;

}

#box_index_case_info .FrontSpecifies_show01-d1_c1{

   text-align: left;

    line-height: 22px;

    margin: 0px auto;

    width: auto;

    height: auto;

    color: #363636;

    font-size: 14px;

    overflow: hidden;

}

#box_index_case_info .FrontSpecifies_show01-d1_c1 P{

   text-align: left;

    line-height: 22px;

    color: #363636;

    font-size: 14px;

}

#box_top_welcome_body .FrontSpecifies_show01-d1_c1{

   text-align: left;

    line-height: 30px;

    margin: 0px auto;

    width: 800px;

    height: auto;

    color: #ffffff;

    font-size: 14px;

    overflow: hidden;

}

#box_top_welcome_body .FrontSpecifies_show01-d1_c1 P{

   text-align: left;

    line-height: 30px;

    color: #ffffff;

    font-size: 14px;

}

#box_copyright_info .FrontSpecifies_show01-d1_c1{

   text-align: right;

    line-height: 26px;

    margin: 0px auto;

    width: auto;

    height: auto;

    color: #efefef;

    font-size: 17px;

}

#box_copyright_info .FrontSpecifies_show01-d1_c1 P{

   text-align: right;

    line-height: 26px;

    color: #ffffff;

    font-size: 17px;

}

#box_copyright_info A:link{

   color: #efefef;

    text-decoration: none;

}

#box_copyright_info A:visited{

   color: #efefef;

    text-decoration: none;

}

#box_copyright_info A:hover{

   color: #fdef01;

    text-decoration: none;

}

#box_copyright_info A:active{

   color: #fdef01;

    text-decoration: none;

}

#box_index_products_list .FrontProducts_list01-d5_c1 .scrollable{

   position: relative;

    width: 705px;

    float: left;

    height: 160px;

    overflow: hidden;

}

#box_index_products_list .FrontProducts_list01-d5_c1 .pic-module .pic A IMG{

   border-bottom: 0px;

    border-left: 0px;

    width: 160px;

    height: 116px;

    border-top: 0px;

    border-right: 0px;

}

#box_index_products_list .FrontProducts_list01-d5_c1 .pic-module .pic A{

   border-bottom: #dedede 1px solid;

    text-align: center;

    border-left: #dedede 1px solid;

    padding-bottom: 0px;

    margin: 10px auto 0px;

    padding-left: 0px;

    width: 160px;

    padding-right: 0px;

    display: block;

    height: 116px;

    border-top: #dedede 1px solid;

    border-right: #dedede 1px solid;

    padding-top: 0px;

}

#box_index_products_list .FrontProducts_list01-d5_c1 .content1{

   width: 180px;

}

#box_logo IMG{

   float: left;

}

#box_sub_banner .FrontSpecifies_show01-d1_c1{

   text-align: center;

    width: 100%;

    display: block;

    float: none;

    height: 285px;

}

#box_sub_banner IMG{

   text-align: center;

    filter: Alpha(Opacity=0);

    margin: 0px auto;

    width: 100%;

    float: none;

    height: 285px;

    -moz-opacity: 0.0;

    opacity: 0.0;

}

#voiceexc_callback #box_main{

   width: 80%;

    padding-top: 30px;

}

.FrontMessages_customizeEmit01-d1_c1 .messageLink{

   display: none;

}

BODY#message{

   background: none transparent scroll repeat 0% 0%;

}

BODY#index{

}

BODY#message_success{

   background: none transparent scroll repeat 0% 0%;

}

BODY#voiceexc_callback{

   background: none transparent scroll repeat 0% 0%;

}

BODY#map{

   background: none transparent scroll repeat 0% 0%;

}

BODY#liuyan_success{

   background: none transparent scroll repeat 0% 0%;

}

BODY#liuyan{

   background: none transparent scroll repeat 0% 0%;

}

#box_top_menu .FrontSpecifies_show01-d1_c1{

   text-align: right;

    line-height: 36px;

    color: #262626;

    font-size: 12px;

}

#box_top_menu .FrontSpecifies_show01-d1_c1 IMG{

   margin: -3px auto 0px;

}

#box_top_menu .FrontSpecifies_show01-d1_c1 P{

   text-align: right;

    line-height: 30px;

    color: #ffffff;

    font-size: 12px;

}

#box_top_menu A:link{

   color: #ffffff;

    font-size: 12px;

    text-decoration: none;

}

#box_top_menu A:visited{

   color: #ffffff;

    font-size: 12px;

    text-decoration: none;

}

#box_top_menu A:hover{

   color: #f1f1f1;

    font-size: 12px;

    text-decoration: none;

}

#box_top_menu A:active{

   color: #f1f1f1;

    font-size: 12px;

    text-decoration: none;

}

#box_sub_banner{

   position: relative;

    margin: 0px auto;

    width: 100%;

    float: none;

    height: 285px;

    clear: both;

}
