<div xmlns="" class="columnSpace" id="elem-FrontComContent_detail01-1450837801497" name="通用内容详细信息">

    <link href="{$yf_theme_path}public/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$yf_theme_path}public/js/jquery.lightbox-0.5.min.js"></script>
    <!--<div id="FrontProducts_list01-1450941815106" class="FrontProducts_list01-d6_c1">-->
        <!--<ul class="mainul productlist-02">-->
            <!--<li class="content column-num4">-->
                <!--<div class="pic-module">-->
                    <!--<div class="pic">-->
                        <!--<a class="FrontProducts_list01-1450941815106_lightbx" data-fancybox-group="FrontProducts_list01-1450941815106_gallery" href='/app/home/view/jxqndl/public/images/zhizhao.jpg' title="营业执照">-->
                            <!--<img src="/app/home/view/jxqndl/public/images/zhizhaosl.jpg" id="FrontProducts_list01-1450941815106_7" alt="" title="营业执照" onerror="this.src='/app/home/view/jxqndl/public/images/noimage.jpg'" /></a>-->
                    <!--</div>-->
                    <!--<script type="text/javascript">-->
                        <!--jQuery(document).ready(function() {-->
                            <!--$('.FrontProducts_list01-1450941815106_lightbx').lightBox();-->
                        <!--});-->
                        <!--//$('.FrontProducts_list01-1450941815106_lightbx').lightBox();-->
                    <!--</script>-->
                <!--</div>-->
                <!--<div class="pro-module">-->
                    <!--<ul class="basic">-->
                        <!--<li class="code">-->
                            <!--<h1>-->
                                <!--<span>产品名称：</span>-->
                                <!--<strong>营业执照</strong>-->
                            <!--</h1>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<p class="buttonP">-->
                    <!--</p>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->


    <!--</div>-->


    <div id="FrontComContent_detail01-1450837801497" class="FrontComContent_detail01-d1_c1">
        <div class="content">
            <div class="describe htmledit" style="font-size: 14px;letter-spacing: 1.25px">
                <br/>
                {$news_content}
            </div>
        </div>
    </div>
</div>