<div class="top_welcome_bg" id="box_top_welcome_bg">
    <div class="top_welcome" id="box_top_welcome">
        <div class="top_welcome_body" id="box_top_welcome_body">
            <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1450783878400" name="说明页">
                <div id="FrontSpecifies_show01-1450783878400" class="FrontSpecifies_show01-d1_c1">
                    <marquee height="30" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="1" scrolldelay="17" width="900">

                        {$rollnews}

                    </marquee>
                </div>
            </div>
        </div>
        <div class="top_menu" id="box_top_menu">
            <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1450783883605" name="说明页">
                <div id="FrontSpecifies_show01-1450783883605" class="FrontSpecifies_show01-d1_c1">
                    <p>
                        欢迎光临本站！
                        <a href="">联系我们</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="clearBoth"></div>
    </div>
</div>