<div xmlns="" class="columnSpace" id="elem-FrontComContent_detail01-1450837801497" name="通用内容详细信息">

    <link href="{$yf_theme_path}public/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{$yf_theme_path}public/js/jquery.lightbox-0.5.min.js"></script>



    <div id="FrontComContent_detail01-1450837801497" class="FrontComContent_detail01-d1_c1">
        <div class="content">
            <div class="describe htmledit" style="font-size: 14px;letter-spacing: 1.25px">
                <br/>
                {$menucontent}
            </div>
        </div>
    </div>
</div>