{extend name="public/base" /}
{block name="main-content"}
	<div class="page-content">


		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal ajaxForm2" name="excel_runimport" method="post" action="{:url('excel_runprocess')}"  enctype="multipart/form-data">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 【文章】选择上传的EXCEL文件： </label>
						<div class="col-sm-4">

												<span class="input-group-btn" style="float:inherit; left:140px; top:2px;">
													<button type="submit" class="btn btn-xs  btn-purple">
														<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
														数据处理
													</button>
												</span>


						</div>

					</div>
					<div class="space-4"></div>
				</form>
			</div>
		</div>


	</div><!-- /.page-content -->
{/block}